@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
#page1{
    width: 100%;
    height: 100%;
    /* background-color: red; */
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#nav-part1{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
}
#nav-part1 h4{
    font-family: sans-serif;
    font-size: 12px;
    font-weight: 600;
}
#nav img{
    width: 110px;
}
#nav-part2{
    width: 30%;
    /* background-color: yellow; */
    display: flex;
    justify-content: flex-end;
}
#nav-part2 button{
    font-size: 13px;

    font-weight: 600;
    padding: 1.3vw  2vw;
    margin: 0 0.3vw;
    background-color: black;
    color: white;
    border-radius: 50px;
    border: none;
}
#nav-part2 button:nth-child(1){
    color:black;
    background-color: transparent;
}

#content{
    width: 100%;
    height: calc(95% - 100px);
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    gap: 2vw;
    justify-content: center;
    align-items: center;

}
#content h3{
    background-color: pink;
    border-radius: 50px;
    padding: 0.7vw 2vw;
    font-size: 1rem;
    font-weight: 800;
    text-align: center;
}
#content h1{
    font-family: "Playfair Display", serif;
    font-size: 4.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 4.5rem;
}
#content h4{
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
#content button{
    padding: 1.5vw 3vw;
    color: white;
    background-color: rgb(0, 0, 0);
    font-family: sans-serif;
    font-weight: 800;
    border-radius: 50px;
    border: none;
    
}
#page1 #elem-ani{
    width: 100%;
    height: 400px;
    /* background-color: red; */
    padding: 5px;
    white-space:nowrap;
    overflow-x: auto;
    overflow-y: hidden;

/*     
    animation-name: move;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear; */
}

#elem-ani::-webkit-scrollbar{
    display: none;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 200px));
    }
}
#elem-ani #elem{
    display: inline-block;
    flex-shrink: 0;
    margin-right: 36px;
    height: 100%;
    width: 300px;
    background-color: royalblue;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    /* z-index: -1; */
    
}
#elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#elem video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.elem-bottom{
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0;
    color: white;
    padding: 1.5vw;
    /* background-color: black; */
    align-content: end;
}
.elem-bottom h3{
    font-size: 1rem;
    font-family: sans-serif;

}
.elem-bottom .skills{
    margin-top: 1.5vw;
}
.elem-bottom h4{
    display: inline;
    padding: 0.5vw 1vw;
    border: 2px solid white;
    border-radius: 50px;
    font-size: 12px;
}

#explore{
    width: 100%;
    height: auto;
    /* background-color: blue; */
    padding: 2vw 2vw;
    /* display: flex; */
    /* flex-wrap: nowrap; */
    /* justify-content: space-around; */
    
    
}
h2{
    font-size: 3rem;
    font-family: sans-serif;
    font-weight: 500;
    text-align: center;
    margin-top: 4rem;
}
.x-elem{
    display: inline-block;
    margin:1vw 1.3vw;
    width: 350px;
    height: 320px;
    /* background-color: black; */

}
.ex-elem{
    width: 100%;
    height: 280px;
    background-color: pink;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    transition: all ease 0.4s;
}
.ex-elem img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.ex-bottom{
    position: absolute;
    width: 100%;
    height: 40%;
    background:linear-gradient(transparent, black);
    bottom: -40%;
    display: flex;
    justify-content: space-between;
    padding: 1.5vw;
    align-items: flex-end;
    color: white;
}
.ex-elem:hover .ex-bottom{
    bottom:0;
}

.ex-bottom h4{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.ex-bottom i{
    font-size: 1.2rem;
    padding: 7px;
    color: black;
    background-color: white;
    border-radius: 50%;

}

.x-elem .details{
    width: 100%;
    height: 40px;
    /* background-color: rgba(255, 192, 203, 0.312); */
    display: flex;
    padding-top: 8px;
    font-family: sans-serif;
    justify-content: space-between;
}
.detail-left{
    width: 70%;
    display: flex;
    align-items: center;
    gap: 5px;
}
.detail-left .profile{
    width: 33px;
    height: 100%;
    border-radius: 50%;
    background-color: black;
    overflow: hidden;
}
.detail-left h3{
    font-size: 12px;
}
.detail-left h4{
    font-size: 10px;
    padding: 1px 4px 2px 3px;
    background-color: rgb(78, 78, 78);
    border-radius: 3px;
    color: white;
}
.profile img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-right{
    width: 30%;
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(63, 63, 63);
}

#find{
    width: 100%;
    height: 100%;
    background-color:#ffda79;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 5vw;
}
#find h2{
    font-size: 4rem;
    font-family: "Playfair Display", serif;
    font-weight: 400;
}
#find h5{
    font-size: 1.3rem;
    font-family: sans-serif;
    font-weight: 200;
    width: 48%;
    text-align: center;
    line-height: 2rem;
}
#find-button button{
    background-color: black;
    color:white;
    font-size: 0.9rem;
    font-family: sans-serif;
    padding: 1.5vw 2vw;
    border-radius: 50px;
    border: none;
    margin: 0.7vw;
}
#find-button button:nth-last-child(1){
    background-color: white;
    color:black
}
#find h4{
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 300;
    padding-bottom: 10vh;
}
#find h4 a{
    color: black;
}

